pre + * {
  margin-top: 2.5rem;
}

table + * {
  margin-top: 3rem !important;
}

ol ol li,
ul ol li,
ol ul li,
ul ul li,
html body #__next li blockquote {
  margin-top: 1rem !important;
}

a[class^="Pagination"] {
  cursor: pointer;
}