.column.is-three-quarters h1,
.column.is-three-quarters h2,
.column.is-three-quarters h3,
.column.is-three-quarters h4,
.column.is-three-quarters p,
.column.is-three-quarters pre
{
  padding-top: 0.75em;
}

.column.is-three-quarters:last-child
{
  padding-bottom: 0;
}

p
{
  padding-bottom: 0.75rem;
}

h1 
{
  font-size: 2rem
}

h2 
{
  font-size: 1.75rem
}
h3 
{
  font-size: 1.5rem;
}

h4 
{
  font-size: 1.25rem;
}

pre
{
  padding: 0.75rem 1.5rem !important;
  border-radius: 0.5rem;
}

pre div:last-child :empty {
  display: none !important;
}

blockquote 
{
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p 
{
  display: inline;
}

ol li {
  margin: 0 0 0 1.325rem;
}